body {
    background: linear-gradient(#EFEFBB, #429c4b);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 1.7em;
    }
}

.wrapper {
    margin-top: 64px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
}

img {
    margin-bottom: 16px;
    width: 144px;
}

main {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

article {
    text-align: center;
    text-shadow: 2px 2px 30px black;
    margin-left: 32px;
    margin-right: 32px;
}

sub {
    font-size: 0.5em;
    text-shadow: 2px 2px 30px black;
}

label {
    margin-top: 12px;
    margin-left: 8px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-style: normal;
    text-transform: uppercase;
    color: #00851b;
    background-color: #FFFFFF;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    padding: 8px 16px 8px 16px;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #00851b;
    box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
    -moz-box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
    -box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
}

#but {
    margin-top: 16px;
}

audio {
    margin-top: 12px;
}

.background {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 75%;
}

.glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    color: rgba(58, 58, 58, 0.8);
    font-size: 0.45em;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 500ms;
    box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
    -moz-box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
    -box-shadow: 8px 6px 16px -2px rgba(51, 51, 51, 0.34);
}

.glass-button:hover {
    background-color: rgba(64, 112, 53, 0.836);
    color: rgba(201, 255, 198, 0.8);
    box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    -moz-box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    -box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    text-shadow: 2px 2px 6px whitesmoke;
    transition: 500ms;
}

.glass-button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 600px) {
    .glass-button, .glass-label {
        font-size: 0.55em;
    }
}

.glass-label {
    display: inline-block;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    color: rgba(58, 58, 58, 0.8);
    font-size: 0.45em;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 500ms;
}

.glass-label:hover {
    background-color: rgba(64, 112, 53, 0.836);
    color: rgba(201, 255, 198, 0.8);
    box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    -moz-box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    -box-shadow: 8px 6px 16px -2px rgba(201, 255, 198, 0.8);
    text-shadow: 2px 2px 6px whitesmoke;
    transform: scale(1.2);
    transform: translate(-2px);
}